html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /*  专 驻拽转 */
  align-items: center; /*  专 转 */
  background-color: #f5f5f5;,
  overflow: hidden;
}

.container {
  max-width: 75rem;
  margin: auto;
  padding: 20px;
  text-align: center;
}


h3 {
  font-size: 1.2rem;
  color: #333;
}

p {
  font-size: 0.9rem;
  color: #666;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}

.no-results {
  color: #555;
  font-size: 1.2rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .video-list {
    flex-direction: column;
    align-items: center;
  }

  .video-card {
    width: 90%;
  }

  .header-panel {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .header-panel input,
  .header-panel select {
    width: 90%;
    margin: 5px 0;
  }
}
